{% extends 'base.html'%}

{% block conteudo%}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-9">
            <h1 class="display-6">Olá {{usuario.nome}}!</h1>
        </div>

        <div>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa, aliquid repudiandae doloremque perspiciatis illo reprehenderit officia velit, quod iure consequatur officiis temporibus nesciunt nihil porro impedit eum rerum eligendi magni!
            Lorem <b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed explicabo officia sint libero inventore quas eveniet repellendus corrupti culpa iusto, earum excepturi ex eos voluptatum illo assumenda dolorum itaque? Eaque.</b> ipsum dolor sit amet consectetur adipisicing elit. Dolor cum ducimus nemo modi autem quaerat natus magnam minima nam doloremque velit, fugit illo at illum minus ipsa accusantium reprehenderit consequatur.
        </div>
    </div>
</div>
{% endblock%}