{% extends 'base.html'%}

{% block conteudo%}

<div class="container">
    <h2>Sobre o site</h2>

    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quis fuga deserunt voluptates sapiente molestias alias nulla? Neque quisquam aperiam fuga, eos, quia et explicabo ipsum illo alias natus qui.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat alias deleniti accusantium quis quasi ducimus, fugiat, mollitia saepe quos ipsa dolore enim. Nam, saepe asperiores incidunt officia laudantium iusto fugiat.
    </p>
</div>

{% endblock%}